h1 {
    font-size: 2.5em;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 2rem;
}

.puzzle-list {
    margin-left: 1.25rem;
}

.puzzle-list ul {
    list-style-type: square;
}

.puzzle-list li {
    margin-bottom: 0.75rem;
}

p {
    margin-top: 2.5rem;
}
